*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{

    font-family: 'Times New Roman', Times, serif;
}

h1{
    font-size: 40px;
    color: grey;
    margin-top: 20px;
    margin-bottom: 30px;
}

label{
font-size: 19px;
margin-top: 20px;
font-weight: normal;
    
}

.form-control{
    background: rgba(255, 255, 255, 0.2);
    border:0px;
    border-radius: 0px;
    border-bottom:2px solid black;
    font-size: 21px;
    color:black;
    margin-top: 20px;
}

.btn-info{
    margin-top:20px;
    margin-left: 150px;
    width: 180px;
}